body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body.modal-open {
    overflow: hidden;
}

/* Hide scrollbar but keep scrolling */
.scroll-hidden {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}


/* Apply to your sidebar and main content scroll areas */
.scroll-overlay {
    overflow-y: auto;
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    /* Firefox */
}

/* Webkit browsers (Chrome, Edge, Safari) */
.scroll-overlay::-webkit-scrollbar {
    width: 6px;
}

.scroll-overlay::-webkit-scrollbar-track {
    background: transparent;
}

.scroll-overlay::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.scroll-overlay::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
